{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <main role="main mt-0">

    <div class="container">
    <div class="py-5 text-center">
        <h3>Booking #{{ booking_list.first.confirmation }} for {{ booking_list.first.full_name }}</h3>
        <small>Username: @{{ user.username }}, Email: {{ user.email }},
            Phone: {{ booking_list.first.phone_number }}</small>
    </div>
    <div class="row">
        <div class="col-md-5 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Rooms and Charges</span>
                <span class="badge badge-secondary badge-pill">{{ booking_list|length }} </span>
            </h4>
            <ul class="list-group mb-3">
                {% for booking in booking_list %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ booking.room.label }}</h6>
                            <small class="text-muted">Room # {{ room.number_on_door }}, max
                                guests: {{ room.max_guests }}</small><br/>
                            <small class="text-muted">Dates: {{ booking.room.arrival|date }}
                                - {{ booking.room.departure|date }}</small>
                        </div>
                        <span class="text-muted">${{ booking.room.price }}</span>
                    </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Hotels Booked</span>
                <span class="badge badge-secondary badge-pill">{{ booking_list|length }} </span>
            </h4>
            {% for booking in booking_list %}
                {% ifchanged booking.hotel %}
                    <div class="card mb-4 box-shadow">
                        {% if booking.hotel.image_url %}
                            <img class="card-img-top"
                                 src="{{ booking.hotel.image_url }}"
                                 alt="{{ booking.hotel.label }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ booking.hotel.label }}</h5>
                            <p class="card-text">{{ booking.hotel.about_hotel }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">&nbsp;</div>
                                <small class="text-muted">{{ booking.hotel.location }}</small>
                            </div>
                        </div>
                    </div>
                {% endifchanged %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{% static '/hotel/room.js' %}"></script>
{% endblock %}