{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <div class="container mt-4">
        <h1>Booking History</h1>
        {% include 'hotel/messages.html' %}
        <div class="list-group mt-2">
            {% for booking in history %}
                <a href="{% url 'booking' booking.confirmation %}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Confirmation: {{ booking.confirmation }}</h5>
                        <small>Total: INSERT TOTAL</small>
                    </div>
                    <p class="text-left"><b>Arival:</b> {{ booking.arrival_date|date }}
                        <b>Departure:</b> {{ booking.departure_date|date }}
                    </p>
                    <small class="text-left">Booked on {{ booking.create_date|date }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}