{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    {% csrf_token %}
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow" style="min-width: 40rem">
                        <div id="app" data-hotelid="{{ hotel_id }}"
                             data-loggedin="{{ user.is_authenticated }}"
                             data-fullname="{{ user.get_full_name }}"
                        />
                        <div class="card-footer">
                            <h2 style="color: hotpink">Flexible, free cancellation.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{% static '/hotel.js' %}"></script>
{% endblock %}