<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>Hello</title>
</head>
<body>
{% csrf_token %}
<div id="app" data-hotelid="{{ hotel_id }}"/>
<script type="text/babel">
    class App extends React.Component {

        constructor(props) {
            super(props);
            this.state = {
                hotel: [],
                rooms: [],
                room: [],
                price: props.price,
                amenities: [],
                loaded: false,
                showInfo: false,
                placeholder: "Loading"
            };
            this.handleClick = this.handleClick.bind(this);
        }

        componentDidMount() {

            fetch(`/hotel-info/${document.querySelector('#app').dataset.hotelid}`)
                .then(response => {
                    if (response.status > 400) {
                        return this.setState(() => {
                            return {placeholder: "Something went wrong!"};
                        });
                    }
                    return response.json();
                })
                .then(hotel => {
                    console.log(hotel.rooms)
                    this.setState(() => {
                        return {
                            hotel,
                            rooms: hotel.rooms,
                            amenities: hotel.amenities,
                            loaded: true
                        };
                    });
                });
        }

        handleClick(room) {
            console.log('handleClick: ' + room.id + ',  ' + room.price)
            this.setState(state => ({
                room: room.id,
                price: room.price,
                showInfo: !this.state.showInfo
            }));
        }

        render() {
            return (
                <div>

                    <div>
                        {this.state.hotel.id}
                        {this.state.hotel.label}
                        <hr></hr>
                        {this.state.rooms.map((room) => {
                            {
                                return <li key={room.id}>{room.id} - ${room.price}, {room.label}
                                    <button onClick={() => {
                                        this.handleClick(room)
                                    }}>Book
                                    </button>
                                </li>
                            }
                        })}
                    </div>
                    {this.state.showInfo && <Booking room={this.state.room} price={this.state.price}/>}
                </div>
            );
        }
    }

    class Booking extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                phone: props.phone,
                arrival: props.arrival,
                departure: props.departure,
                price: props.price,
                room: props.room,
                confirmation: props.confirmation
            };

            this.handleInputChange = this.handleInputChange.bind(this);
            this.handleClick = this.handleClick.bind(this);
        }

        handleInputChange(event) {
            this.setState({
                [event.target.name]: event.target.value
            });
        }

        handleClick(event) {
            event.preventDefault();
            console.log('fetching' + this.state.room)
            fetch('/booking', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                },
                body: JSON.stringify({
                    price: this.state.price,
                    room: this.state.room,
                    phone: this.state.phone,
                    arrival: this.state.arrival,
                    departure: this.state.departure
                })
            }).then(response => {
                if (!response.ok) {
                    throw Error(response.status + ' - ' + response.statusText);
                }
                return response.json()

            }).then((data) => {
                this.setState({
                    confirmation: data.confirmation
                });
            }).catch(console.log)
        }

        render() {
            return (
                <div>
                    <label> Phone:
                        <input name="phone" type="input" checked={this.state.phone}
                               onChange={this.handleInputChange}/>
                    </label>
                    <p>{this.state.phone}</p>
                    <label>
                        Last Name:
                        <input name="last_name" type="input" checked={this.state.first_name}
                               onChange={this.handleInputChange}/>
                    </label>
                    <p>{this.state.last_name}</p>
                    <br/>
                    <label>
                        Arrival Date (YYYY-MM-DD): {this.state.arrival}
                        <input name="arrival" type="input" checked={this.state.arrival}
                               onChange={this.handleInputChange}/>
                    </label>
                    <label>
                        Departure Date (YYYY-MM-DD): {this.state.departure}
                        <input name="departure" type="input" checked={this.state.departure}
                               onChange={this.handleInputChange}/>
                    </label>
                    <br/>
                    <button onClick={this.handleClick}>Fire Lasers</button>
                    <h1> {this.state.confirmation}</h1>
                </div>
            );
        }
    }

    ReactDOM.render(<App/>, document.querySelector("#app"));
</script>
</body>
</html>