{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <h1 class="cover-heading white-shadow-text">The Best Hotels.</h1>
    {% if messages or form.non_field_errors %}
        <div id="alert_message" class="alert alert-danger" role="alert">
            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
            {{ form.non_field_errors |striptags }}
        </div>
    {% endif %}


    <div class="container">
        <div id="alert_message" style="display: none" class="alert alert-danger" role="alert"></div>
        <form action="{% url 'search' %}" method="post" id="search_form">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label><h5 class="white-shadow-text">Destination</h5>
                        <span class="white-shadow-text">{{ form.location.errors|striptags }}</span>
                        {{ form.location }}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col"><h5 class="white-shadow-text">Arrival Date</h5>
                            <span class="pink-shadow-text">{{ form.arrival.errors|striptags }}</span>
                        </div>

                    </div>
                    <div class="row float-none">
                        <div class="col form-inline" style="justify-content: center">
                            {{ form.arrival }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col"><h5 class="white-shadow-text">Departure Date</h5>
                            <span class="white-shadow-text">{{ form.departure.errors|striptags }}</span>
                        </div>
                    </div>
                    <div class="row float-none">
                        <div class="col form-inline" style="justify-content: center">
                            {{ form.departure }}

                        </div>
                    </div>
                </div>
            </div>
            <p class="lead">
                <input type="submit" id="search_hotels" class="btn btn-lg btn-secondary mt-4" value="Show Hotels.">
            </p>
        </form>
    </div>
```{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static '/hotel/search.js' %}"></script>
{% endblock %}```