{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <section class="jumbotron text-center bg-image">
        <div class="container">
            <h1 class="white-shadow-text">Vacation, yeah lets do that.</h1>
            <a href="#" class="btn btn-secondary my-2">Something here</a>
            </p>

        </div>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                </div>
            </div>
        </div>
    </section>
    <form action="{% url 'search' %}" method="post" id="search_form">
        {% csrf_token %}
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="location">Location</label>
                            {{ form.location }}
                        </div>
                        <div class="col">
                            <label for="arrival">Arrival</label>
                            {{ form.arrival }}
                        </div>
                        <div class="col">
                            <label for="departure">Departure</label>
                            {{ form.departure }}
                        </div>
                        <div class="col">
                            <input type="submit" id="search_hotels" class="btn btn-lg btn-secondary mt-4"
                                   value="Show Hotels.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>All Hotels</h1>
            <div class="row">
                {% for hotel in hotels %}

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            {% if hotel.image_url %}
                                <img class="card-img-top"
                                     src="{{ hotel.image_url }}"
                                     alt="{{ hotel.label }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ hotel.label }}</h5>
                                <p class="card-text">{{ hotel.about_hotel }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/hotel/{{ hotel.id }}" class="btn btn-sm btn-outline-secondary">View
                                            Rooms
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ hotel.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!--  Flatpicker  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            arrival = document.querySelector('#id_arrival');
            flatpickr(arrival, {minDate: "today",});

            departure = document.querySelector('#id_departure');
            flatpickr(departure, {minDate: new Date().fp_incr(1)});
        })
    </script>
{% endblock %}
