{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <h1 class="cover-heading white-shadow-text">Only The Best Hotels.</h1>
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <select name="location" class="form-control">
                    <option value="0">Where are you going?</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="arrival" placeholder="YYYY-MM-DD"/>
            </div>

            <div class="col">
                <input type="text" class="form-control" name="departure" placeholder="YYYY-MM-DD"/>
            </div>
        </div>
        <p class="lead">
            <input type="submit" class="btn btn-lg btn-secondary mt-2" value="Let's see Hotels.">
        </p>
    </form>
{% endblock %}
{% block script %}

{% endblock %}