{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <h1 class="cover-heading white-shadow-text">The Best Hotels.</h1>
    {% if messages %}
        <div id="alert_message" class="alert alert-danger" role="alert">
            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
        </div>
    {% endif %}
    <div id="alert_message" style="display: none" class="alert alert-danger" role="alert"></div>
    <form action="{% url 'search' %}" method="post" id="search_form">
        {% csrf_token %}
        <div class="form-row">
            <div class="col" style="border: 3px green solid">
                <label><h5 class="white-shadow-text">Destination</h5>
                    {{ form.location }}
                    <span class="white-shadow-text">{{ form.location.errors|striptags }}</span>
                </label>
            </div>
            <div class="col">
                <label><h5 class="white-shadow-text">Arrival Date</h5>
                    <!-- <input class="form-control" id="search_arrival" name="arrival" placeholder="YYYY-MM-DD"/>-->
                    {{ form.arrival }}
                    <span class="white-shadow-text">{{ form.arrival.errors|striptags }}</span>
                </label>
            </div>
            <div class="col">
                <label><h5 class="white-shadow-text">Departure Date</h5>
                    {{ form.departure }}
                    <span class="white-shadow-text">{{ form.departure.errors|striptags }}</span>
                </label>
            </div>
        </div>
        <p class="lead">
            <input type="submit" id="search_hotels" class="btn btn-lg btn-secondary mt-2" value="Show Hotels.">
        </p>
    </form>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            });
        });
    </script>
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="{% static '/search.js' %}"></script>
{% endblock %}