<!-- Template adapted fomr https://getbootstrap.com/docs/4.0/examples -->
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Hotel{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <link href="{% static 'hotel/hotel.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>
<body>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
                <img src="/static/hotel/hotel-icon.png" class="mr-2"/>
                <strong>Hotel Accomodations</strong>
            </a>
            {% if request.session.cart %}
                <h3 class="white-shadow-text">
                    <a href="{% url 'checkout' %}"
                       class="badge badge-primary badge-pill">Cart: {{ request.session.cart|length }} items.</a>
                </h3>
            {% endif %}
            <div class="navbar-nav nav-item">
                <a class="nav-link {{ home_page }}" href="{% url 'index' %}">Home</a>
                {% if user.is_authenticated %}
                    <a class="nav-link {{ history_page }}" href="{% url 'history' %}">
                        {% if user.first_name %}
                            {{ user.first_name }}'s Bookings
                        {% elif not user.first_name %}
                            My Bookings
                        {% endif %}
                    </a>
                    <a class="nav-link {{ logout_page }}" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link {{ login_page }}" href="{% url 'login' %}">Login to Book</a>
                    <a class="nav-link {{ register_page }}" href="{% url 'register' %}">Register</a>
                {% endif %}

            </div>
        </div> <!--/ end container  -->
    </nav>
</header>
<main role="main">
    {% block body %}
    {% endblock %}
</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>This template adapted from &copy; Bootstrap.</p>
        <p>Thank you to Hilton, CitizenM, Fairmont
            and Omni hotels for the borrowed photos and content.</p>
        <p><a href="http://github.com/jeff-hickey">Jeff Hickey's</a> Final Project for <a
                href="https://www.instagram.com/cs50">@CS50</a></p>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
