{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <form action="{% url 'search' %}" method="post" id="search_form">
        {% csrf_token %}
        <div class="card text-white bg-pink mb-3">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col ">
                            {{ form.location }}
                        </div>
                        <div class="col">
                            {{ form.arrival }}
                        </div>
                        <div class="col">
                            {{ form.departure }}
                        </div>
                        <div class="col">
                            <input type="submit" id="search_hotels" class="btn btn-md btn-secondary"
                                   value="Show Hotels.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Hotels in {{ form.cleaned_data.location }}</h2>
            {% include 'hotel/messages.html' %}
            <div class="row">
                {% for hotel in hotels %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            {% if hotel.image_url %}
                                <img class="card-img-top"
                                     src="{{ hotel.image_url }}"
                                     alt="{{ hotel.label }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ hotel.label }}</h5>
                                <p class="card-text">{{ hotel.about_hotel }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/hotel/{{ hotel.id }}" class="btn btn-sm btn-outline-secondary">View
                                            Rooms
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ hotel.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            var $startDate = $('#id_arrival');
            var $endDate = $('#id_departure');

            $startDate.datepicker({
                format: 'yyyy-mm-dd',
                autoHide: true,
                startDate: new Date()
            });
            $endDate.datepicker({
                format: 'yyyy-mm-dd',
                autoHide: true,
                startDate: $startDate.datepicker('getDate'),
            });

            $startDate.on('change', function () {
                // Get the new arrival date.
                let startDate = new Date($startDate.datepicker('getDate'));
                // Set the start date for departure to arrival +1.
                let endDate = startDate.setDate(startDate.getDate() + 1);
                $endDate.datepicker('setStartDate', new Date(endDate));
                // Correct for an arrival date after the departure.
                if (startDate > Date.parse($endDate.datepicker('getDate'))) {
                    $endDate.datepicker('setDate', new Date(endDate));
                }
            });
        });
    </script>
{% endblock %}