{% extends "hotel/layout.html" %}
{% load static %}
{% block body %}
    <form action="{% url 'search' %}" method="post" id="search_form">
        {% csrf_token %}
        <div class="card text-white bg-pink mb-3">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col ">
                            {{ form.location }}
                        </div>
                        <div class="col">
                            {{ form.arrival }}
                        </div>
                        <div class="col">
                            {{ form.departure }}
                        </div>
                        <div class="col">
                            <input type="submit" id="search_hotels" class="btn btn-md btn-secondary"
                                   value="Show Hotels.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Hotels in {{ form.cleaned_data.location }}</h2>
            {% include 'hotel/messages.html' %}
            <div class="row">
                {% for hotel in hotels %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            {% if hotel.image_url %}
                                <img class="card-img-top"
                                     src="{{ hotel.image_url }}"
                                     alt="{{ hotel.label }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ hotel.label }}</h5>
                                <p class="card-text">{{ hotel.about_hotel }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/hotel/{{ hotel.id }}" class="btn btn-sm btn-outline-secondary">View
                                            Rooms
                                        </a>
                                    </div>
                                    <small class="text-muted">{{ hotel.location }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!--  Flatpicker  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            arrival = document.querySelector('#id_arrival');
            flatpickr(arrival, {minDate: "today",});
            departure = document.querySelector('#id_departure');
            flatpickr(departure, {minDate: new Date().fp_incr(1)});
        })
    </script>
{% endblock %}