/* Adapted from https://getbootstrap.com/docs/4.0/examples/cover/ */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

/* Home Page - White Links */
a,
a:focus,
a:hover {
    color: deeppink;
}

/* Home Page - Custom white button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: deeppink;
    border: .05rem solid hotpink;
}

.bg {
    /* The image used */
    background-image: url("http://localhost:8000/static/bg-image.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* White shadow text*/
.white-shadow-text {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/* Pink shadow text*/
.pink-shadow-text {
    color: hotpink;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
/* Holds Navigation and main content */
.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}


.nav-masthead .active {
    color: #fff;
    border-bottom-color: deeppink;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
    color: aliceblue;
}
